<!doctype html>
<html lang="en">
<partial name="~/Views/Partials/Layout/Head.cshtml" />
<body itemscope itemtype="http://schema.org/WebPage">
<partial name="~/Views/Partials/Layout/Header.cshtml" />
<main>
    @RenderBody()
</main>
<partial name="~/Views/Partials/Layout/Footer.cshtml" />
<partial name="~/Views/Partials/Layout/Scripts.cshtml" />
</body>
</html>