<!doctype html>
<html lang="en">
<partial name="~/Views/Partials/Layout/Head.cshtml" />
<body itemscope itemtype="http://schema.org/WebPage">
    <main>
        <partial name="~/Views/Partials/Navigation/MainNavigation.cshtml" />
        <div class="uk-container uk-margin">
            @RenderBody()
            <div class="m-menu uk-hidden@m uk-text-center">
                <partial name="~/Views/Partials/Navigation/ButtonNavigation.cshtml" />
            </div>
        </div>
    </main>
    <partial name="~/Views/Partials/Layout/Scripts.cshtml" />
</body>
</html>