<!DOCTYPE html>
<html lang="en">
	<head>
		<partial name="core/head" replace="title:Matthew Care;" />
	</head>
	<body itemscope itemtype="https://schema.org/WebPage">

		<partial name="navigation" />

		<div class="uk-container uk-margin">

			<div class="uk-width-2-3@m uk-margin-auto uk-text-center">
				<h1>Web CV</h1>
				<p>Originally from Wales where I grew up with a love for computing, I pursued a degree in computer science, before beginning my career in web development. I have a passion for programming, piano, mountaineering, and climbing. During my time in web development, I have also undertaken projects in application / software development using Xamarin, UWP, and PowerApps.</p>
			</div>

			<div class="uk-grid uk-grid-large uk-margin-medium">
				<div class="uk-width-2-3@m uk-margin-bottom">
					<section class="m-timeline">
						<article>
							<div class="m-timeline__date">
								<time>Feb 2022</time>
							</div>
							<div class="m-timeline__info">
								<h1>Limetta</h1>
								<h2>— Systems Developer</h2>
								<p>After moving to Sweden and securing residency, I sought employment where I could put my extensive knowledge of working in  a growing agency to good use. This knowledge was noticed, and I was immediately tasked with rewriting the entire front and back end stack with emphasis on streamlining Umbraco development.</p>
							</div>
						</article>
						<article>
							<div class="m-timeline__date">
								<time>Jun 2019</time>
							</div>
							<div class="m-timeline__info">
								<h1>Fat Media</h1>
								<h2>— Senior Developer</h2>
								<p>I began as a front end developer working with JavaScript and SASS, before transitioning to the .NET team. Whilst performing a full stack role since then, I have mostly focused on building websites ranging from basic brochureware sites, to large eCommerce solutions - primarily using Umbraco as the CMS.</p>
								<p>My role also includes solution architecture, writing technical documentation, and requirement analysis of new business enquiries. Often taking the position of project lead, I manage task delegation, arrange testing and quality assurance, as well as server configuration, continuous integration and deployment.</p>
							</div>
						</article>
						<article>
							<div class="m-timeline__date">
								<time>Sep 2016</time>
							</div>
							<div class="m-timeline__info">
								<h1>Fat Media</h1>
								<h2>— Developer</h2>
							</div>
						</article>
						<article>
							<div class="m-timeline__date">
								<time>July 2016</time>
							</div>
							<div class="m-timeline__info">
								<h1>IACS</h1>
								<h2>— Consultant (ongoing)</h2>
								<p>Initially I was in charge of creating and hosting a small WordPress site for a branch of specialised work, before eventually beginning an Umbraco build to house all of their offerings. The solution runs on Azure App Services, and is secured by Cloudflare, providing a scalable hosting platform at a low cost.</p>
								<p>In addition to managing the website, I was also tasked with analysing the business requirements, and providing recommendations for an application that would integrate with their internal systems. IACS have heavy usage of the Microsoft suite, and wanted to build a mobile application that would enable them to manage their contractors. Using Microsoft PowerApps I created two applications, one for administration, and one for contractors.</p>
								<p>The applications integrated with an SQL database, Azure Blob Storage, Azure Active Directory, and other services to enable the upload of documentation, take photographs, manage stock of equipment, house payment information, and more.</p>
							</div>
						</article>
						<article>
							<div class="m-timeline__date">
								<time>Oct 2014</time>
							</div>
							<div class="m-timeline__info">
								<h1>Fat Media</h1>
								<h2>— Associate Developer</h2>
							</div>
						</article>
						<article>
							<div class="m-timeline__date">
								<time>2011 - 2014</time>
							</div>
							<div class="m-timeline__info">
								<h1>University of Portsmouth</h1>
								<h2>— Bachelor’s Degree, Computer Science</h2>
								<p>My degree set a foundation for a number of different possible career paths, having undertaken courses in computer graphics and vision, operating systems and networking, discrete mathematics, theoretical computer science, and more. Learning programming languages such as Python, and Java, as well as functional programming with Haskell made the building blocks of where I am today.
								<p>Thesis title - Using the Web Audio API as a teaching tool, via a music theory application</p>
							</div>
						</article>
					</section>
				</div>
				<div class="uk-width-1-3@m">
					<h2>Skills</h2>
					<ul class="uk-list uk-list-collapse">
						<li>C#</li>
						<li>.NET Framework / .NET6</li>
						<li>Umbraco (certified developer / contributor)</li>
						<li>SQL Server</li>
						<li>UWP</li>
						<li>Git (GitHub / Bitbucket)</li>
						<li>TeamCity</li>
						<li>Bamboo</li>
						<li>Windows Server</li>
						<li>Azure</li>
						<li>SASS</li>
						<li>Node</li>
						<li>Angular 1.x+</li>
						<li>Vue</li>
						<li>TypeScript</li>
						<li>PowerApps</li>
						<li>Jira</li>
					</ul>

				</div>
			</div>

			<div class="m-menu uk-hidden@m uk-text-center">
				<partial name="button-menu" />
			</div>
		</div>
		
		
	</body>
</html>