<!DOCTYPE html>
<html lang="en">
	<head>
		<partial name="core/head" replace="title:Matthew Care;" />
	</head>
	<body itemscope itemtype="https://schema.org/WebPage">

		<div class="m-home-wrapper">
			<div class="uk-grid uk-width uk-flex-middle uk-flex-between">
				<div class="uk-width-2-5@l uk-text-center">
					<picture>
						<source srcset="https://unsplash.it/id/1062/620/800" media="(min-width:1600px)" width="620" height="800">
						<source srcset="https://unsplash.it/id/1062/430/555" media="(min-width:1200px)" width="430" height="555">
						<img alt="" src="https://unsplash.it/id/1062/250/250" width="250" height="250" decoding="async" loading="eager">
					</picture>
				</div>
				<div class="uk-width-1-2@l uk-width-2-5@xl">
					<div class="uk-container uk-container-xsmall">
						<div class="uk-text-center uk-text-left@l">
							<h1 class="uk-text-uppercase">Matthew Care. <span class="uk-display-block uk-text-primary">Programmer</span></h1>
						</div>
						<div class="uk-text-lead">
							<p>A Brit living in Sweden. I mostly focus on web, though I've worked with so many technologies I've lost count. Other than programming I also have a passion for piano, mountaineering, and climbing.</p>
						</div>
					</div>
				</div>
				<div class="uk-width-auto@l m-menu uk-text-center uk-text-right@l">
					<partial name="button-menu" />
				</div>
			</div>
		</div>
		
		
	</body>
</html>
