<!DOCTYPE html>
<html lang="en">
	<head>
		<partial name="core/head" replace="title:Matthew Care;" />
	</head>
	<body itemscope itemtype="https://schema.org/WebPage">
		
		<partial name="header" />

		<main>
			<div class="uk-container">
				<lorem words="2" tag="p" tag-count="5" />
				<lorem sentences="1" tag="p" tag-count="5" />
				<ul><lorem words="4" tag="li" tag-count="10" punctuation="true" /></ul>
			</div>
		</main>
		
		<partial name="footer" />
		<partial name="core/scripts" />		
	</body>
</html>
