@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>

<div class="m-home-wrapper">
    <div class="uk-grid uk-width uk-flex-middle uk-flex-between">
        <div class="uk-width-1-3@l uk-text-center">
            <picture for="Model.Image"></picture>
        </div>
        <div class="uk-width-1-3@l">
            <div class="uk-container uk-container-xsmall">
                <div class="uk-text-center uk-text-left@l">
                    <h1 class="uk-text-uppercase">@Model.Heading <span class="uk-display-block uk-text-primary">@Model.SubHeading</span></h1>
                </div>
                <div class="uk-text-lead">
                    <p>@Model.Content</p>
                </div>
            </div>
        </div>
       <partial name="Partials/Navigation/MainNavigation" />
    </div>
</div>