@using MatthewDotCare.Core.Extensions
@using MatthewDotCare.Umbraco.SiteMap.Models
@inherits UmbracoViewPage<MatthewDotCare.Web.Controllers.SiteMap.SiteMapPageModel>


<partial name="Partials/Navigation/MainNavigation" />


<div class="uk-container uk-margin">
    <h1>@Model.Content.PageTitleOrDefault()</h1>

    <div>
        <div>
            <ul>
                @foreach (var url in Model.SiteMap.Urls)
                {
                    RenderSiteMapUrl(url);
                }
            </ul>
        </div>
    </div>


</div>

@functions {
    void RenderSiteMapUrl(SiteMapUrl url)
    {
        <li>
            @if (!url.ExcludedSelf)
            {
                <a href="@url.Url">
                    @url.Name
                </a>
            }
            @if (url.Children.IsNotNullOrEmpty())
            {
                <ul>
                    @foreach (var child in url.Children!)
                    {
                        RenderSiteMapUrl(child);
                    }
                </ul>
            }
        </li>
    }
}