@inherits UmbracoViewPage
@{
    var home = Model.GetHomePage();
    var outerTemplate = Model.GetOuterTemplate();
}

<header itemscope="" itemtype="https://schema.org/WPHeader">
    <nav>
        <div>
            <a href="@home.Url()">@outerTemplate.SiteName</a>
            <partial name="Navigation/MainNavigation"/>
        </div>
    </nav>
</header>