@inherits UmbracoViewPage<IPublishedContent>

@{
    var ot = Model.GetOuterTemplate();
}

<div class="uk-width-auto@l m-nav uk-text-center uk-text-right@l">
    <ul class="uk-list uk-list-large">
        @foreach (var link in ot.Navigation.Select(x => (ElementNavigationItem)x.Content))
        {
            <li><a href="@link.Url.Url" class="uk-icon-button" target="@link.Url.Target">@Html.Raw(link.Svg)</a></li>
        }
    </ul>
</div>